
<div class="container">

  <form class="form-horizontal">
    <fieldset>
      <legend>Bank Atm Application</legend>
      <div class="form-group">
        <label for="inputCard" class="col-lg-2 control-label">Available Balance is : {{balance}}</label>
      </div>
    </fieldset>
  </form>
  
  <input type="hidden" id="amt" [(ngModel)]="amount"/><input type="button" value="Get Denomination" id="btn"/>

  <br/>

  2000: <span></span><br/>
  500: <span></span><br/>
  100: <span></span><br/>

</div>

  
  
